<br>
<div class="container">
    <div class="row">
        <div class="col-14">
            <hr>
            <div class='img-thumbnail text-center' style="margin-bottom:0">
              <%= image_tag "https://res.cloudinary.com/maravoly/image/upload/v1657297266/images/examen/BootCamp_xxxxxxxxxx_tmafof.png", style: 'height:20vw;width:40vw;'  %>
            </div><br>
            <h1>Bienvenidos!!!</h1>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h2 style="text-align:center" class="text-dark"><strong>Empresa</strong></h2>
                    <div class='img-thumbnail text-center' style="margin-bottom:0">
                      <%= image_tag "https://res.cloudinary.com/maravoly/image/upload/v1657273025/images/examen/EMPRESA_nxqydh.png", style: 'height:20vw;width:30vw;' %>
                      </div> 
                    <p class="card-text">Lleva a tu empresa a otro nivel. Publica tus vacantes y opten al mejor candidato para tu empresa.</p>
                    <%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-dark' %>
                    <%= link_to "Ingresar", new_user_session_path, class: 'btn btn-dark' %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h2 style="text-align:center" class="text-dark"><strong>Personas</strong></h2>
                    <div class='img-thumbnail text-center' style="margin-bottom:0">
                      <%= image_tag "https://res.cloudinary.com/maravoly/image/upload/v1657273030/images/examen/PERSONAS_jppwqu.png", style: 'height:20vw;width:30vw;'  %>
                      </div> 
                    <p class="card-text">¡Postula y entra rápido al mercado laboral! Aprende a programar con ayuda de nuestros tutores y encuentra trabajo rápidamente.</p>
                    <%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-dark' %>
                    <%= link_to "Ingresar", new_user_session_path, class: 'btn btn-dark' %>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <hr>
        </div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="media">
            <div class="media-body">
                <h3 class="display-4 text-info">SÚMATE A LA REVOLUCIÓN DIGITAL</h3><br>
                  <%= image_tag "https://res.cloudinary.com/maravoly/image/upload/v1657297611/images/examen/1_wntyxc.jpg", style: 'height:15vw;width:25vw;' %>
                  <%= image_tag "https://res.cloudinary.com/maravoly/image/upload/v1657297613/images/examen/2_o4pmn0.webp", style: 'height:15vw;width:20vw;' %>
                  <%= image_tag "https://res.cloudinary.com/maravoly/image/upload/v1657297608/images/examen/3_pm259j.png", style: 'height:15vw;width:25vw;' %><br><br>
                    <h3 class="display-5 text-info">/*Comunidad de aprendizaje*/</h3>
                    <p class="lead text-secondary">(‘ Generamos una comunidad que comparte sus experiencias y aprendizajes de manera desinteresada y honesta. Compartir conocimiento y experiencia es parte del proceso de aprendizaje ’);</p>
                    <h3 class="display-5 text-info">{ Tiempo }</h3>      
                    <p class="lead text-secondary"> (‘ ¡Aprovecha tu tiempo! Contamos con cursos intensivos y flexibles para que en un corto periodo puedas entrar al mercado laboral o desarrollar tus proyectos ’);</p>            
                    <h3 class="display-5 text-info">/*Aprende Haciendo*/</h3>              
                    <p class="lead text-secondary">(‘ Talleres 100% prácticos. Lo que aprendas, lo harás con las manos ocupadas. Aprende las herramientas del futuro, trabajando con ellas. Construye ese proyecto que estás pensando ’);</p>           
            </div>  
        </div>
    </div>
</div>
<div>
<%= image_tag "https://res.cloudinary.com/maravoly/image/upload/v1657299995/images/examen/te-esperamos-png_haxzql.webp"  %>
</div>
 <ul class="list-inline">
                        
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; @maravoly 2022</p>